@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset CSS tradicional */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  /* Variáveis de cores HEX*/
  --cor-azul-escuro: #0C3854;
  --cor-azul-claro: #2472A2;
  --cor-azul-esverdeado: #30929A;
  --cor-amarelo: #FFB239;
  --cor-branca:#F9F9F9;

    /* Variáveis de cores em RGB */
    --cor-azul-escuro-rgb: 12, 56, 84;   /* #0C3854 */
    --cor-azul-claro-rgb: 36, 114, 162;  /* #2472A2 */
    --cor-azul-esverdeado-rgb: 48, 146, 154; /* #30929A */
    --cor-amarelo-rgb: 255, 178, 57;     /* #FFB239 */

  /* Variáveis de fontes */
  --fonte-principal: 'Roboto, sans-serif';
  --fonte-titulo: 'Roboto Mono, serif';
}

