.button {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-amarelo);
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: box-shadow 0.3s ease;      
}