.btn {
    width: 60%;
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--cor-azul-esverdeado);
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: var(--cor-azul-escuro);
    transform: scale(1.03);
}
