.corpo {
    display: flex;
    flex-direction: row;
}
  
 
.principal {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    
}
