/* Body.css */
.corpo {
    display: flex;
    flex-direction: row;
    flex: 1; /* Permite crescer dentro do container pai */
    min-height: calc(100vh - 120px); /* Ajusta altura considerando header + footer, ajuste conforme necessário */
    width: 100%;
}

.principal {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* Alinha ao topo, caso queira crescer verticalmente */
    justify-content: center;
    color: white;
    padding: 10px;
    gap: 20px; /* Espaçamento entre os cards */
}
