
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-amarelo);
    padding: 1em;
    width: 200px;
    height: 550px;
    color: var(--cor-azul-escuro);
    border-radius: 10px;
    font-family: var(--fonte-principal);
    margin: 1em;
}


.card h3{
    font-family: var(--fonte-titulo);
    font-size: 18px;
    font-weight: 600;
}

.card h4{
    font-family: var(--fonte-titulo);
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    border-top: 1px solid var(--cor-azul-escuro);
    padding-top: 0.2em;
    
}

.card p, h4 {
    margin: 0.2em;
    align-self: self-start;
}



.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 0.2em;
    fill: var(--cor-azul-escuro);
}

.card > img {
  width: 50%;
  margin-bottom: 1em;
}

.icons img{
  width: 20px;
  height: 20px;
  fill: var(--cor-azul-escuro);
  cursor: pointer;
}


.card button {
    background-color: var(--cor-azul-escuro);
    color: var(--cor-amarelo);
    padding: 0.5em;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.card button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: box-shadow 0.3s ease;      
}

.scrollable-text {
    max-height: 60px;
    overflow-y: auto;
    word-wrap: break-word;
    padding-right: 2px;
  }
  
  /* barra de rolagem */
  .scrollable-text::-webkit-scrollbar {
    width: 2px; /* super fina */
  }
  
  /* trilha da barra */
  .scrollable-text::-webkit-scrollbar-track {
    background: var(--cor-amarelo); 
    border-radius: 1px;
  }
  
  /* polegar da barra */
  .scrollable-text::-webkit-scrollbar-thumb {
    background: var(--cor-azul-escuro); 
    border-radius: 1px;
  }
  
  /* polegar ao passar o mouse */
  .scrollable-text::-webkit-scrollbar-thumb:hover {
    background: var(--cor-azul-escuro);
  }
  

