.header {
    display: flex;
    flex-direction: row;
    align-items: center; /* alinha verticalmente */
    justify-content: space-between; /* espaço entre os itens */
    padding: 5px 10px;
    background-color: var(--cor-amarelo);
}
 
.header img {
    height: 30px; /* define altura da imagem */
    width: auto;  /* mantém proporção */
    object-fit: contain; /* garante que não distorça */
    margin-top: 0.5em;
}

.header a, .header span{
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-azul-escuro);
  
}
.auth-links{
    width: 50%;
    margin: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.auth-links Button {
    max-width: 30%;
}
  