.header {
    display: flex;
    align-items: center; /* alinha verticalmente */
    justify-content: space-between; /* espaço entre os itens */
    padding: 10px 20px;
    background-color: #ffd905;
}
  
.header img {
    height: 50px; /* define altura da imagem */
    width: auto;  /* mantém proporção */
    object-fit: contain; /* garante que não distorça */
}
  