.navegacao{
    display: flex;
    flex-direction: row;
    background-color: var(--cor-azul-esverdeado);
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.navegacao input {
    width: 50%;
    padding: 0.4em;
    border-radius: 1em;
    border: 1px solid var(--cor-azul-escuro);
    padding-left: 30px; /* Espaço para a lupa */
    background: url('../src/assets/magnifier.png') no-repeat 8px center;
    background-size: 16px 16px;
    background-color: var(--cor-azul-claro);
    font-size: 16px;
    font-family: var(--fonte-principal);
}

