.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    margin: 20px auto;
    background-color: var(--cor-azul-claro);
    width: 80%;
    max-width: 600px; /* Limita a largura para não ficar muito grande */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(var(--cor-azul-escuro-rgb), 0.15);
}

.form h3 {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--cor-azul-escuro);
}

.btn {
    width: 60%;
    max-width: 250px;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: var(--cor-azul-esverdeado);
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: var(--cor-azul-escuro);
    transform: scale(1.03);
}
